{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table" id="divid"></table>
{% with messages = get_flashed_messages(category_filter=["remove_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}


        <script type="text/babel">
            var pos = "{{ posts2 }}";
            var your_array = pos.match(/{&#39;emotion&#39;: u&#39;[^}]*&#39;, &#39;post&#39;: u&#39;[^}]*&#39;, &#39;OID&#39;: u&#39;[^}]*&#39;}/g);
            var allpost = [];
            for (var i = 0; i < your_array.length; i++) {
                var poststring = your_array[i].match(/&#39;post&#39;: u&#39;(.+?(?=&#39;))&#39;/);
                var poststr = poststring[1];

                var emostring = your_array[i].match(/&#39;emotion&#39;: u&#39;(.+?(?=&#39;))&#39;/);
                var emostr = emostring[1];

                var oidstring = your_array[i].match(/&#39;OID&#39;: u&#39;(.+?(?=&#39;))&#39;/);
                var oidstr = oidstring[1];

                allpost.push(
                    <tr>
                        <td>
                        <form action="{{url_for('posts.delete_post')}}" method='POST' id="del_form">
                        <input type="hidden" name="post_to_delete" value={ oidstr } />  
                        <input type="submit" value="x"/>  { poststr }   &mdash; { emostr }
                        </form>
                        </td>
                    </tr>
                );
            }
            var Hello = React.createClass({
                render: function() {
                    return(<tbody>{ allpost }</tbody>);
                }
            });
            ReactDOM.render(<Hello/>, document.getElementById('divid'));
        </script>




<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select name='emotions'>
        <option value="happy">Happy</option>
        <option value="sad">Sad</option>
        <option value="angry">Angry</option>
        <option value="shocked">Shocked</option>
        <option value="inlove">in Love</option>
    </select>
    <br><br>
    <input class='btn btn-primary' type='submit' />
</form>



{% endblock %}